<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @car.owner %>
</p>

<p>
  <strong>Plate no:</strong>
  <%= @car.plate_no %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
